<ion-header class="Naslov">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/log-in" color="success">
        <ion-icon slot="start" name="log-in"></ion-icon>
        Uloguj se
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button routerLink="/registracija" color="success">
        Prijavi se
        <ion-icon slot="end" name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>

 <div class = "slika">
  <img src="https://i.pinimg.com/originals/47/71/0f/47710f633bdd27837bb138a9ebeafaaa.png">
 </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="donji">



  </ion-toolbar>
</ion-footer>
<!--<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title color="danger">Pocetna</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-toolbar>-->


<!--<ion-tabs>
  <ion-tab-bar slot = "bottom">
    <ion-tab-button tab="log-in" routerLink="/log-in">
      <ion-icon name="log-in" color="danger"></ion-icon>
      <ion-label color="danger">Uloguj Se</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="prijava" routerLink="/registracija">
      <ion-icon name="person-add" color="danger"></ion-icon>
      <ion-label color="danger">Prijavi Se</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>-->







