<!--<ion-menu></ion-menu>
<ion-header>
  <ion-toolbar>
    <div id="naslov">
      <ion-buttons slot="start">
        <ion-back-button color="success" defaultHref="/log-in"></ion-back-button>
      </ion-buttons>
      <ion-title>Narodno pozorište</ion-title>
      <ion-split-pane when="md"></ion-split-pane>
    </div>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="success" defaultHref="/pozorista"></ion-back-button>

    </ion-buttons>
    <!--<ion-title color="success">Narodno pozoriste</ion-title>-->
    <ion-split-pane when="xs"></ion-split-pane>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button color="secondary" fill="solid">
      Atelje 212
    </ion-button>
  </ion-buttons>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>O pozoristu</h1>
        <p> Pozorište ATELJE 212 osnovano je 12. novembra 1956. godine. Predstave su se prvih godina igrale u adaptiranoj sali stare „Borbe“. Kada je postao upravnik Ateljea, Bojan Stupica je osmislio i pripremio planove za izgradnju nove zgrade Ateljea na sadašnjoj adresi – na uglu Vlajkovićeve i Svetogorske ulice (nekada ulice Lole Ribara). Nova zgrada pozorišta otvorena je 30. decembra 1964. godine premijernim izvođenjem predstave „Ljubinko i Desanka“ Aleksandra Popovića u režiji Radeta Markovića.
          Rekonstrukcija zgrade Ateljea započeta je 1988. godine, a novo, adaptirano pozorište otvoreno je 1. avgusta 1992. godine premijerom predstave „Kneginja iz Foli-Beržera“ Žorža Fejdoa u režiji tadašnjeg upravnika Ljubomira Mucija Draškića.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Predstave</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Pred svitanje</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Filip Grujic</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Sin</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Florijan Zeler</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Art</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Jasmina Zera</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Gestimanski vrt</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Dejvid Her</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Petrijin venac</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Dragoslav Mihajlovic</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Homo faber</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Maks Fris</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <h1 id="kontakt">Kontakt</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="pin" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Svetogorska 21, Beograd</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="call-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Centrala: +381 11 3246 146</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="mail-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">office@atelje212.rs</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
