<!--<ion-menu></ion-menu>
<ion-header>
  <ion-toolbar>
    <div id="naslov">
      <ion-buttons slot="start">
        <ion-back-button color="success" defaultHref="/log-in"></ion-back-button>
      </ion-buttons>
      <ion-title>Narodno pozorište</ion-title>
      <ion-split-pane when="md"></ion-split-pane>
    </div>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="success" defaultHref="/pozorista"></ion-back-button>

    </ion-buttons>
    <!--<ion-title color="success">Narodno pozoriste</ion-title>-->
    <ion-split-pane when="xs"></ion-split-pane>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button color="secondary" fill="solid">
      Zvezdara teatar
    </ion-button>
  </ion-buttons>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>O pozoristu</h1>
        <p> Zvezdara teatar je specifičan beogradski fenomen. Po njemu se Beograd razlikuje od drugih gradova u zemlji i inostranstvu. (…) Samo se u Zvezdara teatru ne trude da se od nekog razlikuju: i rodili su se u znaku prividno nemogućeg – igraju ozbiljno komediju, ali tako da publika ne primećuje da oni baš i neće da budu tako smešni koliko se publika smeje. Stručnjaci kažu da su to satire, a to znači da šibaju po našim manama i slabostima, a publika baš uživa u tim slabostima kao svojim.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Predstave</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Tre sorele</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Stevan Koprivica</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Arzamas</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Ivana Dimic</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Feliks</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Vladimir Kecmanovic</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Hipnoza jedne ljubavi</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Dusan Kovacevic</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Korespodencija</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Borislav Pekic</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Klaustrofobicna komedija</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Dusan Kovacevic</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <h1 id="kontakt">Kontakt</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="pin" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Milana Rakića 38, Beograd</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="call-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Centrala: +381 11 2419-664</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="mail-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">blagajna@zvezdarateatar.rs</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
