<!--<ion-menu></ion-menu>
<ion-header>
  <ion-toolbar>
    <div id="naslov">
      <ion-buttons slot="start">
        <ion-back-button color="success" defaultHref="/log-in"></ion-back-button>
      </ion-buttons>
      <ion-title>Narodno pozorište</ion-title>
      <ion-split-pane when="md"></ion-split-pane>
    </div>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="success" defaultHref="/pozorista"></ion-back-button>

    </ion-buttons>
    <!--<ion-title color="success">Narodno pozoriste</ion-title>-->
    <ion-split-pane when="xs"></ion-split-pane>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button color="secondary" fill="solid">
      Madlenianum
    </ion-button>
  </ion-buttons>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>O pozoristu</h1>
        <p>Opera i teatar MADLENIANUM osnovan je 1998. godine, kao prva privatna opera u ovom delu Evrope.
          Osnivač i donator MADLENIANUMA je gospođa Madlena Zepter, čija ulaganja u kulturu i umetnost predstavljaju najveći savremeni mecenat u ovoj oblasti, ne samo u našoj zemlji već i u evropskim razmerama, uopšte.
          MADLENIANUM je organizovan kao model novog muzičko scenskog pozorišta kod nas bez sopstvenog ansambla, ali sa stalnim organizaciono upravnim aparatom i tehničkom ekipom.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Predstave</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Nana</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Emil Zola</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Mitrovdan</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Bratislav Petković</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Grand Hotel</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Aleksandar Ilić</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Hazarski recnik</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Milorad Pavić</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Manon Lesko</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Đakomo Pučini</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Orfej</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Klaudio Monteverdi</ion-label>
            <ion-icon name="bookmark-sharp" slot="end" color="secondary" (click)="openAlert()"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <h1 id="kontakt">Kontakt</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="pin" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Ulica Glavna 32, Zemun, Beograd</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="call-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Centrala: 011/316 25 33</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="mail-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">blagajna@madlenianum.rs</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
