<!--<ion-menu></ion-menu>
<ion-header>
  <ion-toolbar>
    <div id="naslov">
      <ion-buttons slot="start">
        <ion-back-button color="success" defaultHref="/log-in"></ion-back-button>
      </ion-buttons>
      <ion-title>Narodno pozorište</ion-title>
      <ion-split-pane when="md"></ion-split-pane>
    </div>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="success" defaultHref="/pozorista"></ion-back-button>

    </ion-buttons>
    <!--<ion-title color="success">Narodno pozoriste</ion-title>-->
    <ion-split-pane when="xs"></ion-split-pane>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button color="secondary" fill="solid">
      Pozoriste na Terazijama
    </ion-button>
  </ion-buttons>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>O pozoristu</h1>
        <p> Pozorište na Terazijama je osnovano 22. decembra 1949. godine od strane Skupštine grada Beograda
          kao „Humorističko pozorište“, stalna, repertoarska ustanova pozorišne kulture, muzičkog i komedijskog žanra.
          Od 1954. do 1959. godine zove se „Beogradska komedija“. Spajanjem sa Beogradskim dramskim pozorištem 1959.
          godine dobija ime „Savremeno pozorište“ da bi 1972. godine dobilo ime „Beogradsko pozorište“. Konačno,
          u pozorišnoj sezoni 1975/76 ponovo postaje samostalno i dobija sadašnje ime „Pozorište na Terazijama“.
          Tokom perioda rekonstrukcije matične zgrade i iseljenja u Ustanovu kulture „Vuk Karadžić“ od 1991. do 2005.
          godine, pozorište je nosilo ime „Teatar T“.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Predstave</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Cigani lete u nebo</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Maksim Gorki</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Cikago</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Fred Eb, Bob Fosi</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Zona Zamfirova</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Stevan Sremac</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Mister Dolar</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Branislav Nusic</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Sa druge strane jastuka</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Stevan Koprivica</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Neki to vole vruce</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Piter Stoun, Bob Meril, Dzul Stajn</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <h1 id="kontakt">Kontakt</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="pin" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Terazije 29, Beograd</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="call-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Centrala: +381 11 322 99 43</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="mail-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">blagajna@pozoristeterazije.com</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
