<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="success" defaultHref="/pozorista"></ion-back-button>
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">Pozorišta</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button size="sm" color="secondary" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card routerLink="/narodno">
          <ion-card-header>
            <ion-card-title>Narodno pozorište u Beogradu</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Narodno pozorište u Beogradu se nalazi na Trgu republike, na uglu Vasine i Francuske ulice, u centru grada.
            Osnovano je 1868. godine, a u sadašnju zgradu, na mestu tadašnje Stambol kapije. U okviru njega funkcionišu 3
            umetničke jedinice: opera, balet i drama, a predstave se odigravaju na Velikoj sceni i Sceni Raša Plaović.
            Danas predstavlja jednu od najreprezentativnijih i najznačajnijih kulturnih institucija Srbije.
          </ion-card-content>

          <ion-item>
            <ion-icon name="pin" slot="start" color="success"></ion-icon>
            <ion-label color="success">Trg republike, Beograd</ion-label>
            <ion-button fill="outline" slot="end" color="success">Pročitaj više</ion-button>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card routerLink="/madlenianum">
          <ion-card-header>
            <ion-card-title>Madlenianum</ion-card-title>
          </ion-card-header>


          <ion-card-content>
            Opera i teatar MADLENIANUM osnovan je 1998. godine, kao prva privatna opera u ovom delu Evrope.
            Osnivač i donator MADLENIANUMA je gospođa Madlena Zepter, čija ulaganja u kulturu i umetnost
            predstavljaju najveći savremeni mecenat u ovoj oblasti, ne samo u našoj zemlji već i u evropskim
            razmerama, uopšte.
          </ion-card-content>

          <ion-item>
            <ion-icon name="pin" slot="start" color="success"></ion-icon>
            <ion-label color="success">Glavna 32, Zemun, Beograd</ion-label>
            <ion-button fill="outline" slot="end" color="success">Pročitaj više</ion-button>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card routerLink="/jdp">
          <ion-card-header>
            <ion-card-title>Jugoslovensko dramsko pozorište</ion-card-title>
          </ion-card-header>


          <ion-card-content>
            Jugoslovensko dramsko pozorište osnovano je 1947. godine kao reprezentativno pozorište nove Jugoslavije.
            Mnogi najznačajniji glumci iz Zagreba, Novog Sada, Sarajeva, Splita, Ljubljane i drugih gradova pozvani su
            da učestvuju u stvaranju ovog pozorišta.
          </ion-card-content>

          <ion-item>
            <ion-icon name="pin" slot="start" color="success"></ion-icon>
            <ion-label color="success">Kralja Milana 50, Beograd</ion-label>
            <ion-button fill="outline" slot="end" color="success">Pročitaj više</ion-button>
          </ion-item>

        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-card routerLink="/atelje">
          <ion-card-header>
            <ion-card-title>Atelje 212</ion-card-title>
          </ion-card-header>


          <ion-card-content>
            Pozorište ATELJE 212 osnovano je 12. novembra 1956. godine. Predstave su se prvih godina igrale u
            adaptiranoj sali stare „Borbe“. Kada je postao upravnik Ateljea, Bojan Stupica je osmislio i pripremio
            planove za izgradnju nove zgrade Ateljea na sadašnjoj adresi – na uglu Vlajkovićeve i Svetogorske ulice
            (nekada ulice Lole Ribara). Nova zgrada pozorišta otvorena je 30. decembra 1964. godine premijernim
            izvođenjem predstave „Ljubinko i Desanka“ Aleksandra Popovića u režiji Radeta Markovića.

            Rekonstrukcija zgrade Ateljea započeta je 1988. godine, a novo, adaptirano pozorište otvoreno je
            1. avgusta 1992. godine premijerom predstave „Kneginja iz Foli-Beržera“ Žorža Fejdoa u režiji
            tadašnjeg upravnika Ljubomira Mucija Draškića.
          </ion-card-content>

          <ion-item>
            <ion-icon name="pin" slot="start" color="success"></ion-icon>
            <ion-label color="success">Svetogorska 21, Beograd</ion-label>
            <ion-button fill="outline" slot="end" color="success">Pročitaj više</ion-button>
          </ion-item>

        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/zvezdara">
          <ion-card-header>
            <ion-card-title>Zvezdara teatar</ion-card-title>
          </ion-card-header>


          <ion-card-content>
            Zvezdara teatar je beogradsko pozorište osnovano 1984. godine. Do jeseni 2009,
            kada je pozorište proslavilo dvadeset i pet godina rada, u Zvezdara teatru je održano 65 premijera.
            Zvezdara teatar je osnovan sa specifičnim ciljem da promoviše komade savremenih jugoslovenskih pisaca,
            a da u organizacionom pogledu okuplja reditelje, glumce i drugo osoblje po projektu, dakle bez
            angažovanja stalnog ansambla. Prostorije pozorišta useljene su u prostorije Doma kulture „Vuk Karadžić“
            na čijoj je sceni 8. oktobra 1984. godine izvedena prva predstava, komad Aleksandra Popovića
            „Mrešćenje šarana“ u režiji Dejana Mijača. Prostorije se i danas nalaze u zdanju iz 1955. koje je,
            od kada je u nekadašnju bioskopsku salu premeštena pozorišna scena, nekoliko puta adaptirana.
          </ion-card-content>

          <ion-item>
            <ion-icon name="pin" slot="start" color="success"></ion-icon>
            <ion-label color="success">Milana Rakića 38, Beograd</ion-label>
            <ion-button fill="outline" slot="end" color="success">Pročitaj više</ion-button>
          </ion-item>

        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card routerLink="/terazije">
          <ion-card-header>
            <ion-card-title>Pozorište na Terazijama</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Pozorište na Terazijama je osnovano 22. decembra 1949. godine od strane Skupštine grada Beograda
            kao „Humorističko pozorište“, stalna, repertoarska ustanova pozorišne kulture, muzičkog i komedijskog žanra.
            Od 1954. do 1959. godine zove se „Beogradska komedija“. Spajanjem sa Beogradskim dramskim pozorištem
            1959. godine dobija ime „Savremeno pozorište“ da bi 1972. godine dobilo ime „Beogradsko pozorište“.
            Konačno, u pozorišnoj sezoni 1975/76. godine ponovo postaje samostalno i dobija sadašnje ime
            „Pozorište na Terazijama“. Tokom perioda rekonstrukcije matične zgrade i iseljenja u Ustanovu kulture
            „Vuk Karadžić“ od 1991. do 2005. godine, pozorište je nosilo ime „Teatar T“.
          </ion-card-content>

          <ion-item>
            <ion-icon name="pin" slot="start" color="success"></ion-icon>
            <ion-label color="success">Terazije 29, Beograd</ion-label>
            <ion-button fill="outline" slot="end" color="success">Pročitaj više</ion-button>
          </ion-item>

        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Komentari:</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <app-komentar *ngFor="let pozoriste of pozorista" [pozoriste]="pozoriste"></app-komentar>
        </ion-list>
      </ion-col>

    </ion-row>


  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>



  </ion-toolbar>
</ion-footer>


