<!--<ion-menu></ion-menu>
<ion-header>
  <ion-toolbar>
    <div id="naslov">
      <ion-buttons slot="start">
        <ion-back-button color="success" defaultHref="/log-in"></ion-back-button>
      </ion-buttons>
      <ion-title>Narodno pozorište</ion-title>
      <ion-split-pane when="md"></ion-split-pane>
    </div>
  </ion-toolbar>
</ion-header>-->
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="success" defaultHref="/pozorista"></ion-back-button>

    </ion-buttons>
    <!--<ion-title color="success">Narodno pozoriste</ion-title>-->
    <ion-split-pane when="xs"></ion-split-pane>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-buttons class="ion-justify-content-center">
    <ion-button color="secondary" fill="solid">
      Jugoslovensko dramsko pozoriste
    </ion-button>
  </ion-buttons>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>O pozoristu</h1>
        <p> Jugoslovensko dramsko pozorište osnovano je 1947. godine kao reprezentativno pozorište nadnacionalnog karaktera. Mnogi najznačajniji glumci drugih kulturnih centara iz Zagreba, Novog Sada, Sarajeva, Splita, Ljubljane i drugih gradova pozvani su da učestvuju u stvaranju pozorišta. Poznati reditelj Bojan Stupica postavljen je na čelo kuće kao umetnički rukovodilac. Stupica i kritičar Eli Finci, postavili su temelje repertoarske orijentacije JDP-a kao pozorišta visokog literarnog nivoa. To će ostati osnova do današnjeg dana, s tim da je, pored literarnog, element scenskog dobio ravnopravno mesto.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Predstave</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Pucina</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Branislav Nusic</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Siroka zemlja</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Artur Snicler</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Kaspar</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Peter Handke</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Moj muz</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Rumena Bozurovska</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Lorencaco</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Alfred de Mise</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>Kralj Betajnove</ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-label color="primary">Ivan Cankar</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <h1 id="kontakt">Kontakt</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="pin" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Kralja Milana 50, Beograd</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="call-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">Centrala: +381 11 3061 957</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="mail-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="primary">jdpblagajna@jdp.rs</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
