<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="success" defaultHref="/pocetna"></ion-back-button>
    </ion-buttons>
    <ion-title color="success">Stari korisnik</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #logInForm="ngForm" (ngSubmit)="onLogIn(logInForm)">
    <ion-grid>
      <ion-row>
        <ion-col offset="3" size="6">
          <ion-item>
            <ion-label position="floating" color="primary">E-mail adresa</ion-label>
            <ion-input type="email" ngModel name="email" required email #email = "ngModel"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="email.invalid && email.touched" >
            <ion-label>Uneti validnu adresu</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" ngModel name="password" required minlength="7" #password = "ngModel"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="password.invalid && password.touched" >
            <ion-label>Lozinka mora imati 7 karaktera</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3" size="6">
          <ion-button type="submit" fill="solid" size="small" color="secondary" expand="block" [disabled]="logInForm.invalid">Uloguj Se</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>
